<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper">
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      
      
      <ul class="right hide-on-med-and-down">

        <li><a href="{{ site.url }}"><i class="fa fa-home"></i></a></li>
        <li><a href="https://github.com/andyyou"><i class="fa fa-github 2x"></i></a></li>
        <li><a href="https://www.linkedin.com/pub/zongyan-you/2a/493/16"><i class="fa fa-linkedin 2x"></i></a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss 2x"></i></a></li>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{ site.url }}"><i class="mdi-social-school"></i></a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
  <div class="avatar">
    <img src="https://avatars3.githubusercontent.com/u/665690?v=3&s=460" class="circle responsive-img">
  </div>
</header>

