/**
 * header
 */
nav {
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: transparent 0 0 0 ;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

nav .brand-logo {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  font-weight: 700;

  i {
    display: inline-block;
    font-size: 20px;
    width: 25px;
  }
}

nav ul a {
  color: #444;
}

.button-collapse {
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block !important;
  color: black;

  i {
    font-size: 40px;
  }
}
.avatar {
  position: relative;
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  top: -30px;
  padding: 1px;
  border: 1px solid rgba(0, 0, 0, .1);

  img {
    width: 100%;
  }
}
/**
@media only screen and (min-width: 993px) {
  nav a.button-collapse {
    display: inline-block !important;
  }
}*/


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    font-family: 'Open Sans', 'cwTeXMing', serif;
}

.page-heading {
    font-size: 20px;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 28px;
  color: rgba(0, 0, 0, .87);
  font-weight: 500;
}


/**
 * Posts
 */


.post-title {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    font-family: 'Open Sans', 'cwTeXMing', serif;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.fb-like {
  display: inline-block;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}
.fb-comments {
  div[id^=app_content]{
    text-align: center;
  }
}



.post-content {
  margin-bottom: $spacing-unit;
  font-family: 'Open Sans', 'cwTeXMing', serif;
  font-size: 1.2em;
  color: rgba(0, 0, 0, .87);

  img {
    margin: 0 auto;
    display: block;
  }

  ul {
    list-style: circle;
    li {
      list-style: circle;
    }
  }
  
  h1 {
    font-size: 36px;
    font-weight: 600;

      @include media-query($on-laptop) {
          font-size: 32px;
      }
  }

  h2 {
      font-size: 32px;
      font-weight: 600;

      @include media-query($on-laptop) {
          font-size: 28px;
      }
  }

  h3 {
      font-size: 26px;
      font-weight: 600;

      @include media-query($on-laptop) {
          font-size: 22px;
      }
  }

  h4 {
      font-size: 20px;
      font-weight: 600;

      @include media-query($on-laptop) {
          font-size: 18px;
      }
  }
}
